.ability {
    direction: rtl;
    color: rgb(48, 42, 32);
}

body {
    background-color: rgba(154, 168, 73, 0.671);
}

.my {
    font-family: cursive;
    font-weight: bold;
    color: rgb(27, 34, 34);
}

ul.my li {
    display: inline-block;
    padding: 10px;
}